
<h1>Getting Started with <a href="https://mpdx.org">MPDX.org</a></h1>
<ol>
  <li>Sign up to <a href="https://mpdx.org">MPDX.org</a></li>
  <li>Go through the Welcome Tour until you get to the "It's time to connect" step</li>
  <li>Select <strong><%= ENV['ORG_NAME'] %></strong> in the Organization dropdown</li>
  <li>Copy <strong><%= @member.email %></strong> into the Username field</li>
  <li>Copy <strong><%= @member.access_token %></strong> into the Password field</li>
  <li>Click the connect button and continue through the Welcome Tour</li>
</ol>
<p>MPDX should begin syncing your donations. Please reply to this email if you have any issues.</p>
