<% if current_user %>
Waiting for admin access
<% else %>
<div class="jumbotron">
  <h1 class="display-3">Hello &amp; Welcome!</h1>
  <p class="lead">This is a tool to sync donations given to Auckland Evangelical Church with <a href="https://mpdx.org" target="_blank">MPDX.org</a>.</p>
  <hr class="my-4">
  <p>
    MPDX is Fundraising software built for missions and churches.
    <br>
    MPDX is a free, secure app that helps you grow and maintain your financial partnerships in a quick and easy way.
  </p>
  <p class="lead">
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-default btn-lg' %>
  </p>
</div>
<% end %>
