
<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Add Workspace</h1>
</div>
<div class="card">
  <div class="card-body">
    <%= bootstrap_form_for(@organization) do |f| %>
      <div class="mb-3">
        <%= f.text_field :name %>
      </div>
      <%= f.submit "Create", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>