<div class="row">
  <div class="col-md-4">
  <%= image_tag 'mpdx.png' %>
  </div>
  <div class="col-md-8">
    <h3>Getting Started with <a href="https://mpdx.org">MPDX.org</a></h3>
    <ol>
      <li>Sign up to MPDX.org</li>
      <li>Select "Auckland Evangelical Church" in the Organization dropdown</li>
      <li>Copy your Email into the Username field</li>
      <li>Copy your Authentication Token into the Password field</li>
    </ol>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control" value="<%= current_user.email %>" readonly>
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="authenticationToken">Authentication Token</label>
      <input name="authenticationToken" type="text" class="form-control" value="<%= current_user.authentication_token %>" readonly>
    </div>

    <h3>My Account Lists</h3>
    <% if current_user.designation_accounts.count.zero? %>
      <h5>No Account Lists Available</h5>
      <p>
        Please contact the <a href="mailto:contact@aucklandev.co.nz" target="_blank">Donation Services Team</a> for permissions to access your donation data.
      </p>
    <% else %>
    <ul>
      <% current_user.designation_accounts.each do |designation_account| %>
        <li><%= designation_account.name %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
